.body{
  background-image:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.goodfon.com%2Fwallpaper%2Fzamok-vetki-listya-dozhd.html&psig=AOvVaw1mE3z8GbG1_dLqHk5CGomu&ust=1613910916111000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPjE4um8-O4CFQAAAAAdAAAAABAR");
}
