body {
 background-image: url("https://images4.alphacoders.com/296/296678.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 height:auto;
}
/*-------------------------------Button Class For Submit Button--------------------------------------*/
.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #006363);
  background-image: -moz-linear-gradient(top, #ffffff, #006363);
  background-image: -ms-linear-gradient(top, #ffffff, #006363);
  background-image: -o-linear-gradient(top, #ffffff, #006363);
  background-image: linear-gradient(to bottom, #ffffff, #006363);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #0d0d0d 2px;
  text-decoration: none;
}

.weatherHeading{
  color: white;
  font-family: 'Holtwood One SC',cursive;
  margin-bottom: 2rem;
  width:38rem;
  position:relative;
  left:1rem;
}

.btn:hover {
  background: #039eff;
  background-image: -webkit-linear-gradient(top, #039eff, #ffffff);
  background-image: -moz-linear-gradient(top, #039eff, #ffffff);
  background-image: -ms-linear-gradient(top, #039eff, #ffffff);
  background-image: -o-linear-gradient(top, #039eff, #ffffff);
  background-image: linear-gradient(to bottom, #039eff, #ffffff);
  text-decoration: none;
}
/*----------------------------------mainWeatherClass---------------------------- */
.mainWeatherClass{
  display:inline-block;
  width:40rem;
  position: relative;
  left:40%;
  top:20rem;
  background-color: rgba(0,0,0,0.3);
}

/* ---------------------------------form Class------------------------------ */
.weatherForm{
  display:inline-block;
  width:46%;
  margin-left: 3rem;
}

/* checkBoxClass For Latitude and Longitude */
.checkBoxClass{
  position: relative;
  left:20rem;
  bottom: 8rem;
  width:13rem;
}

.checkBoxClass,.cityNameClass,.countryNameClass{
  font-weight: bolder;
  font-size: 20px;
  color: white;
}

.cityNameClass{
  margin-bottom: 1rem;
}

.countryNameClass{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input[type='text']{
  width:16rem;
}
.submitButtonClass{
  position: relative;
  left:70%
}
